 <div class="container mt-5">
    <h1 class="mb-4">Detalles del Libro</h1>
    <div class="row">
      <div class="col-md-4">
        <img src="{{book.picture}}" alt="{{book.title}}" class="img-fluid">
      </div>
      <div class="col-md-8">
        <h2>{{book.title}}</h2>
        <p><strong>Año de Publicación:</strong> {{book.year}}</p>
        <p><strong>Categoría:</strong> {{book.GenreName}}</p>
        <p><strong>Autor:</strong> {{book.AuthorName}}</p>
        <p><strong>Editorial:</strong> {{book.PublisherName}}</p>
          <p><strong>País del Editorial:</strong> {{book.PublisherCountry}}</p>
        <p><strong>Teléfono del Editorial:</strong> {{book.PublisherPhone}}</p>
      
      </div>
    </div>
    <a href="/home" class="btn btn-primary mt-3">Volver a la Lista de Libros</a>
  </div>